.PriceCardSection {
  margin-top: 60px;
  background-color: rgb(245, 245, 245);
  padding: 50px 0px;

}

.PriceCardSection .text .title {
  margin-bottom: 30px;
}

.PriceCardSection .text .title h3 {
  font-size: 32px;
  font-weight: 600;
}

.PriceCardSection .text .title p {
  color: rgb(174, 174, 181);
}

.card-body {
  margin-top: 30px;
}

.Card-title h5 {
  font-size: 20px;
  color: rgb(85, 85, 85);
  margin-bottom: 10px;
}

.PriceCardSection .Crad-Price {
  padding: 30px 5px;
  border: none;
  box-shadow: 1px 1px 7px #00000015;
  text-align: center;
  height: 400px;
  border-radius: 3px;
  margin: 10px auto;
}

.Crad-Price .price h4 {
  font-size: 30px;
}

.Crad-Price .price span {
  color: #00000035;
  font-weight: 400;
}

.Crad-Price ul {
  list-style: none;
}

.Crad-Price-RECOMMENDED .RECOMMENDED {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(124, 197, 118);
  background-color: rgb(234, 246, 233);
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.Crad-Price Button {
  padding: 7px 45px;
  margin-top: 10px;
}

/* Rsponsive */
@media(max-width:820px) {
  .PriceCardSection .text .title h3 {
    font-size: 30px;
  
  }

}

/* ////////// */
@media(max-width:550px) {
  .PriceCardSection .text .title h3 {
    font-size: 30px;
  
  }

}

/* ////////////////// */
